body, head {
    background-color:coral;
    color:dodgerblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0; 
}
h1 {
    color: maroon;
    margin-left: 40px;
    width: 800px;
    border: 50px red;
    padding: 25px;
    margin: 0 auto;
}