body, head {
    background-color:coral;
    color:dodgerblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0; 
}

    
.title {
    
  border: 2px solid red;   
  margin:auto;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}

.images {
    margin-right: 200px;


}

.textbox1 {
    width: 250px;
    padding-right: 100%;
     width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin-left: 0px

}